.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);}

/* CABEÇALHO DA SIDEBAR*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    border-bottom: 2px solid #000;
    font-weight: bold;
}

/* MENU E SEUS ELEMENTOS*/
.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.2em;

    font-size: 0.9em;
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 10px;

    width: 90%;

    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;

     transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.menuItem:hover{
    background-color: #d3d3d3;
    transform:translateY(-5px);
}

.active{
    background-color: #d3d3d3;
    box-shadow: inset 4px 0 0 #007bff;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: inherit;
}

.icon{
    margin-right: 10px;
    font-size: 1.2em;
}

/*BOTÃO DE SAIR*/
.logoutButton{
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 10px;

    position: absolute;
    width: 90%;
    bottom: 0;
}

.logoutButton:hover{
    background-color: #e60000;
    transform: scale(1.03);    
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.logoutIcon{
    margin-left: 0.4em;
    margin-right: 10px;
    font-size: 1.2em;
}
