.breadcrumb {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    background: #fff;
    height: 20px;
}

.breadcrumb a {
    color: #010101;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 6px;
    color: #999;
}

.current {
    font-weight: bold;
    color: #333;
}
