.header{
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 01;

    width: 100%;
    height: 40px;
    padding-left: 1em;

    background-color: #073b59;
    color: white;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
}