.header{
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 01;

    width: 100%;
    height: 40px;
    padding-left: 1em;

    background-color: #073b59;
    color: white;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
    justify-content: space-between; 

}

h4{
    font-size: 1.2em;
}

.user{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 1em;
    cursor: pointer;
}
.user:hover{
    opacity: 0.8;
}
.user span{
    font-size: 0.9em;
}
.user svg{
    font-size: 1.2em;
}

a{
    text-decoration:none;
    color: white;
}
